.more-about {
    padding: 1rem 6rem;
    text-align: justify;
    background-color: rgb(226, 223, 223);
  }
  .bio {
    width: 25rem;
    padding: 1.1rem;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    text-align: justify;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }
  
  @media screen and (max-width: 720px) {
    .more-about {
      margin-top: 2rem;
      padding: 1rem 3.5rem;
    }
  
    .more-about h2 {
      text-align: center;
    }
  
    .more-about p {
      text-align: justify;
    }
  }
  